In [1]:
import numpy as np
import pandas as pd

In [2]:
stock_price = pd.read_csv("Stock_Price_MAX.csv")

In [3]:
stock_price.head()

        Date      Open      High       Low     Close  Adj_Close   Volume
0  2000/3/27  3.812500  4.156250  3.812500  4.125000   4.125000  3675600
1  2000/3/28  4.125000  4.125000  4.000000  4.015625   4.015625  1077600
2  2000/3/29  4.000000  4.031250  3.953125  4.000000   4.000000   437200
3  2000/3/30  4.000000  4.000000  3.843750  3.843750   3.843750  1883600
4  2000/3/31  3.734375  3.734375  3.390625  3.390625   3.390625  7931600

In [4]:
stock_price.shape

(4392, 7)

In [5]:
df_1=stock_price.iloc[:,[1,2,3,6]]

In [6]:
df_1.head()

       Open      High       Low   Volume
0  3.812500  4.156250  3.812500  3675600
1  4.125000  4.125000  4.000000  1077600
2  4.000000  4.031250  3.953125   437200
3  4.000000  4.000000  3.843750  1883600
4  3.734375  3.734375  3.390625  7931600

In [7]:
df_1.shape

(4392, 4)

In [8]:
df_2=stock_price.iloc[:,[4]]

In [9]:
df_2.head()

      Close
0  4.125000
1  4.015625
2  4.000000
3  3.843750
4  3.390625

In [10]:
df_2.shape

(4392, 1)

In [11]:
import tensorflow as tf

C:\Users\jinali\Anaconda3\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [12]:
def min_max_normalization(df,name):
    
    max_value = df[name].max()
    min_value = df[name].min()
    
    new_column = "{}_{}".format('normalized',name)
    
    df[new_column] = (df[name] - min_value) / (max_value - min_value)
    df.drop(name,axis=1,inplace = True)

In [13]:
for name in df_1:
    min_max_normalization(df_1,name)

C:\Users\jinali\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\jinali\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [14]:
df_1.head()

   normalized_Open  normalized_High  normalized_Low  normalized_Volume
0         0.004378         0.006469        0.006934           0.075401
1         0.007031         0.006205        0.008535           0.019194
2         0.005970         0.005413        0.008135           0.005339
3         0.005970         0.005149        0.007201           0.036632
4         0.003714         0.002904        0.003334           0.167478

In [15]:
df_1.shape

(4392, 4)